@model IEnumerable<FilmLab2._2.Models.Genre>

@{
    ViewData["Title"] = "Жанри";
}

<h1>Жанри</h1>

<p>
    <a asp-action="Create">Додати новий жанр</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <h4>
            Пошук жанрів
        </h4>
        <dl class="row">
            <dt class="col-sm-2">
                Назва
            </dt>
            <dd class="col-sm-10">
                <input type="text" name="SearchName" value="@ViewData[" filterName"]" />
            </dd>
        </dl>
        <p>
            <input type="submit" value="Шукати" class="btn btn-dark" /> |
            <a asp-action="Index">Очистити фільтри</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редагувати</a> |
                <!--<a asp-action="Details" asp-route-id="@item.ID">Details</a> |-->
                <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
