@model itLab4_5MVC_MSSQL.Data

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Data</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Column)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Column.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Row)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Row.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
